{% extends 'base.html' %} {% block content %}
<div id="about-us" class="hackathon">
  <div class="content absolute left-2/4 w-1/2 text-center">
    <h1>Hackathon</h1>
    <hr />
  </div>
</div>
<section id="hackathon-description">
  <h1>What is Hackathon?</h1>
  <hr />
  <p>
    Hackathon is an initiative targeting all robotics enthusiasts and technology
    lovers in Egypt, in which various experiences in the technological fields
    are shared by and from students.
  </p>
  <section id="imgs-hackathon">
    <ul>
      <li class="img1"></li>
      <li class="img2"></li>
      <li class="img3"></li>
      <li class="img4"></li>
      <li class="img5 last"></li>
    </ul>
  </section>
  <section id="past-hackathons">
    <ul>
      <li>
        <a
          href="https://www.facebook.com/events/277815105174481/"
          target="_blank"
        >
          <h1>Hackathon 6.0</h1>
          <img src="../static/Hackathon6.png" alt=""
        /></a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/events/861138208521697/"
          target="_blank"
        >
          <h1>Hackathon 5.0</h1>
          <img src="../static/Hackahton5.png" alt=""
        /></a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/events/4204514586320455/"
          target="_blank"
        >
          <h1>Hackathon 4.0</h1>
          <img src="../static/Hackathon40.jpg" alt=""
        /></a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/events/446557606428909/"
          target="_blank"
        >
          <h1>Hackathon 3.0</h1>
          <img src="../static/Hackathon30.jpg" alt=""
        /></a>
      </li>
    </ul>
  </section>
</section>

{% endblock %}
