{% extends 'base.html' %} {% block content %}
<div id="about-us" class="our-team relative">
  <div class="content relative left-2/4 w-1/2 text-center">
    <h1 id="our-team" class="text-3xl -mb-1 md:mb-4 md:text-5xl">Our Team</h1>
    <hr />
  </div>
</div>
<div class="our-heads">
  <div class="head">
    <img src="../static/Untitled design.png" alt="Hasan" />
    <div class="social-media">
      <h1>Hasan Abdelhady</h1>
      <p>Head Of Media</p>
      <span
        ><a href="https://www.linkedin.com/in/hasan-abdelhady/" target="_blank"><i class="fab fa-linkedin"></a></i> <a href="https://www.facebook.com/Hasan.Only.1/" target="_blank"><i class="fab fa-facebook"></a></i
      ></span>
    </div>
  </div>
  <div class="head">
    <img src="../static/Mohamed Khalid.jpg" alt="Anis" />
    <div class="social-media">
      <h1>Mohamed Khaled</h1>
      <p>Team Leader</p>
      <span
        ><a href="https://www.linkedin.com/in/mohamed-khalid-0b935920b" target="_blank"><i class="fab fa-linkedin"></a></i> <a href="https://www.facebook.com/mohamed.khalid.771282" target="_blank"><i class="fab fa-facebook"></a></i
      ></span>
    </div>
  </div>
  <div class="head">
    <img src="../static/Yahia Elagamy.jpg" alt="Yahia" />
    <div class="social-media">
      <h1>Yahia Elagamy</h1>
      <p>Head Of Organizing</p>
      <span
        ><a href="https://www.linkedin.com/in/yahia-elagamy-5070112a2/" target="_blank" ><i class="fab fa-linkedin"></a></i> <a href="https://www.facebook.com/profile.php?id=100004532869433" target="_blank"><i class="fab fa-facebook"></a></i
      ></span>
    </div>
  </div>
  <div class="head">
    <img src="../static/Abdelrahman Ahmed.jpg" alt="Shafiq" />
    <div class="social-media">
      <h1>Abdelrahman Shafiq</h1>
      <p>Head Of Software</p>
      <span
        ><a href="https://www.linkedin.com/in/abd-el-rahman-ahmed-shafek-65a89b220"target="_blank"><i class="fab fa-linkedin"></a></i> <a href="https://www.facebook.com/Hasan.Only.1/" target="_blank"><i class="fab fa-facebook"></a></i
      ></span>
    </div>
  </div>
  <br>
  <div class="head">
    <img src="../static/Mahmed Atef.png" alt="Hamama" />
    <div class="social-media">
      <h1>Mohamed Hamama</h1>
      <p>Head Of Business</p>
      <span
        ><a href="https://www.linkedin.com/in/mohamed-hamamah-a70395219" target="_blank"><i class="fab fa-linkedin"></a></i> <a href="https://www.facebook.com/mahmed.atef.14?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook"></a></i
      ></span>
    </div>
  </div>
  <div class="head">
    <img src="../static/Hassan Shahata.jpg" alt="Sehata" />
    <div class="social-media">
      <h1>Hasan Shehata</h1>
      <p>Head Of HR</p>
      <span
        ><a href="https://www.linkedin.com/in/hassan-shahata-83495223b" target="_blank"><i class="fab fa-linkedin"></a></i> <a href="https://www.facebook.com/profile.php?id=100008912015189" target="_blank"><i class="fab fa-facebook"></a></i
      ></span>
    </div>
  </div>
  <div class="head">
    <img src="../static/Mohamed Wael Shehata.jpg" alt="Wael" />
    <div class="social-media">
      <h1>Mohamed Wael</h1>
      <p>Head Of Hardware</p>
      <span
        ><a href="https://www.linkedin.com/in/%D9%85%D8%AD%D9%85%D8%AF-%D9%88%D8%A7%D8%A6%D9%84-7633bb1b8" target="_blank"><i class="fab fa-linkedin"></a></i> <a href="https://www.facebook.com/profile.php?id=100004365134806" target="_blank"><i class="fab fa-facebook"></a></i
      ></span>
    </div>
  </div>
  <div class="head">
    <img src="../static/ibrahim elshmbaby.jpg" alt="Shembaby" />
    <div class="social-media">
      <h1>Ebrahim Elshmbaby</h1>
      <p>Head Of Mechanical Design</p>
      <span
        > <a href="https://www.facebook.com/profile.php?id=100021966350675"><i class="fab fa-facebook"></a></i
      ></span>
    </div>
  </div>
</div>


{% endblock %}
